---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>管理者について</h1>
    <h2>プロフィール</h2>
    <ul>
        <li>HN: Jan Stanley Watt</li>
        <li>年齢: 30代</li>
        <li>性別: 男</li>
        <li>住所: 日本</li>
        <li>職業: システムエンジニア</li>
        <li>趣味: サーバ管理(と言う名のサーバ弄り)</li>
    </ul>
    <h2>作ったもの</h2>
    <ul>
        <li><a href="/ninety/">90%からはじめるサーバ管理者</a></li>
        <li>
            <a href="https://github.com/JanStanleyWatt/marked-aozora"
                >Marked.jsの青空文庫形式のルビ拡張</a
            >
        </li>
    </ul>
    <h2>連絡先（工事中）</h2>
    <ul>
        <li>
            <!-- TODO: 受信メールの設定をしたら中身をちゃんと書く -->
            EMail: WIP<a href="mailto:"></a>
        </li>
    </ul>
</Layout>
