<h1><a href="/">Jan's Site</a></h1>

<style>
    h1 {
        color: #333;
        font-size: 2em;
        margin: 0;
    }
    a {
        color: #333;
        display: block;
        margin: 1em 0;
        text-decoration: none;
    }
    a:hover {
        color: #666;
        text-decoration: underline;
    }
</style>
