---
import SiteTitle from "@components/Title.astro";
import { undefined } from "astro:schema";
import "github-markdown-css";
import "./src/styles/global.css";

const { title } = Astro.props;
const siteTitle =
  title === undefined ? "Jan's Site" : title + " | " + "Jan's Site";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
  </head>
  <header>
    <SiteTitle />
  </header>

  <body class="markdown-body">
    <slot />
  </body>

  <style>
    /* html,
    body {
      margin: 0;
      width: 90%;
      height: 100%;
    } */
    .markdown-body {
      box-sizing: border-box;
      min-width: 200px;
      max-width: 980px;
      margin: 0 auto;
      padding: 45px;
    }
    @media (max-width: 767px) {
      .markdown-body {
        padding: 15px;
      }
    }
  </style>


</html>
