---
import SiteTitle from "@components/Title.astro";
import "@styles/global.css";

const { title } = Astro.props;
const siteTitle =
  title === undefined ? "Jan's Site" : title + " | " + "Jan's Site";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
  </head>

  <body>
    <header>
      <SiteTitle title={title} />
    </header>
    <slot />
  </body>
</html>
